body {
    font-family: "BIZ UDPGothic", sans-serif;
}

.App {
    width: var(--app-width);
    padding: 0px 20px;
    height: 100vh;
    height: 100dvh;
}

.top-bar {
    display: flex;
    height: 45px;
    justify-content: space-between;
}

.top-bar .rightside {
    display: flex;
    justify-content: right;
    align-items: center;
}

.top-bar .profile {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.top-bar .profile img {
    height: 100%;
    display: inline-block;
}

.top-bar input {
    display: inline-block;
    width: 15rem;
    margin: 0;
    border: 0;
    text-align: right;
}

.top-bar input:focus {
    outline: none;
    animation: opacity-change .1s linear 0s 3 normal;
}

form.chat-form {
    position: absolute;
    width: calc(var(--app-width) - 40px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 30px;
    height: 40px;
}

form.chat-form textarea {
    left: 20px;
    resize: none;
    width: calc(100% - 40px);
    height: 100%;
    border: 0;
    padding: 7px 15px;
    border: 2px solid #333;
}

form.chat-form textarea:focus {
    outline: none;
}

form.chat-form textarea::-webkit-scrollbar {
    display: none;
}

form.chat-form button.submit {
    width: 40px;
    height: 100%;
    border: 2px solid #333;
    border-left: 2px solid #333;
    background-color: rgb(0,0,0);
    color: #fff;
}

small {
    font-family: "DotGothic16", sans-serif;
    text-align: center;
    display: block;
    font-size: .5rem;
    user-select: none;
    height: 15px;
    position: absolute;
    bottom: 2px;
}

.suggest-latest {
    position: relative;
    display: flex;
    justify-content: center;
    height: 0px;
    /* left: calc((100% - 195px) / 2); */
    bottom: 50px;
}

.suggest-latest p {
    display: flex;
    width: 195px;
    height: 30px;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #333;
    opacity: 0.8;
    border-radius: 15px;
    font-size: 12px;
    padding: 4px 0px;
}

.suggest-latest p span {
    font-size: 14px;
    margin-right: 4px;
    transform: translateY(2px);
}

:root {
    --app-width: calc(100vw);
}
